/*  App.css es para estilos particulares como App.jsx o Home.jsx o ! 
( div, botones, etc que se encuentren en los componentes  */ 

/* EL APP.CSS TIENE MAS PESO QUE EL INDEX.CSS 
 ( ESTO EN CUANTO A CUAL TIENE PRIORIDAD EN APLICARSE ) */

 #title {
  color: red;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
 }